{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title_block %}
    About page
{% endblock %}

{% block body_block %}

    <div class="about">
    <h1>About</h1>
    <p>This app is meant to share interesting sessions on Conway’s game of life. 
        This is a game played without any active players, the only thing that is required 
        is an initial state of 0s and 1s (or black and white spots on a grid). 
        The state then continuously evolves based on the initial state, sometimes creating 
        unique and mesmerising patterns.
    </p>
    <p>
        This application is to give people who are interested in this game the 
        opportunity to share and see cool design evolutions.
    </p>
    <p>
        To find out more about the game logic, head to the <a id="game_logic" href="{% url 'game_of_life:game_logic' %}">Game Logic</a> page.
    </p>
</br>
    <div class="signiture">
        This project has been put together by University of Glasgow WAD2 Team 5C, 2022:<br/>
        Zsofia Jakab<br/>
        Ashraf Kasibante<br/>
        George Ntogramatzis<br/>
        Elisabet Tammjarv<br/>
        David Zakrevskis<br/>
    </div>
    
    <script>document.getElementById("about").className = "active";</script>
    </div>
{% endblock %}