{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Initial states
{% endblock %}

{% block body_block %}
    <h1>ALL INITIAL STATES</h1>
    <div class="all_initial_states">
    {% if all_states %}
    {% for state in all_states %}
        <a id="{{state.name}}" href="{% url 'game_of_life:initial_state' state.author state.slug %}"><canvas class="state"></canvas></a>
    {% endfor %}
    {% else %}
        There is no specified list of states.
    {% endif %}
    
    <script>document.getElementById("all_initial_states").className = "active";</script>
    </div>
    {% endblock %}