<!DOCTYPE html>
{% load staticfiles %}
{% load game_of_life_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        {% block head_block %}
        {% endblock %}
        <title>
          {% block title_block %}
          {% endblock %}
        </title>
    </head>
    <body>
        <div class="topnav">
            <a id="index" href="{% url 'game_of_life:index' %}">Home</a>
            <a id="game_logic" href="{% url 'game_of_life:game_logic' %}">Game Logic</a>
            <a id="interesting_patterns" href="{% url 'game_of_life:interesting_patterns' %}">Interesting patterns</a>
            <a id="about" href="{% url 'game_of_life:about' %}">About</a>
            <a id="all_initial_states" href="{% url 'game_of_life:all_initial_states' %}">All initial states</a>

            {% if user.is_authenticated %}
              <li style="float:right"><a id="logout" href="{% url 'game_of_life:logout' %}">Logout</a></li>
              <li style="float:right"><a id="create_initial_state" href="{% url 'game_of_life:create_initial_state' user.username %}">Create an initial state</a></li>
              <li style="float:right"><a id="profile" href="{% url 'game_of_life:profile' user.username %}">Profile</a></li>
            {% else %} 
              <li style="float:right"><a id="register" href="{% url 'game_of_life:register' %}">Sign Up</a></li>
              <li style="float:right"><a id="login" href="{% url 'game_of_life:login' %}">Login</a></li>
            {% endif %}
            {% if user.is_superuser %}
              <li style="float:right"><a id="create_add_pattern" href="{% url 'game_of_life:create_add_pattern' %}">Create interesting pattern</a></li>
            {% endif %}
            
        </div>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>