{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/game_logic.css' %}">
{% endblock %}

{% block title_block %}
    GameLogic page
{% endblock %}

{% block body_block %}

    <div class="game_logic">
    <h1>Game Logic</h1>
        <img src="{% static 'images/game.jpg' %}" alt="Picture" width="400"/>
    <p>
        The Game of Life, also known simply as Life, is a cellular automaton devised by 
        the British mathematician John Horton Conway in 1970. It is a zero-player game, 
        meaning that its evolution is determined by its initial state, requiring no further 
        input. One interacts with the Game of Life by creating an initial configuration and 
        observing how it evolves.
    </p>
    <p>
        The universe of the Game of Life is an infinite, two-dimensional orthogonal grid of 
        square cells, each of which is in one of two possible states, live or dead (or 
        populated and unpopulated, respectively). Every cell interacts with its eight 
        neighbours, which are the cells that are horizontally, vertically, or diagonally 
        adjacent. At each step in time, the following transitions occur:
    </p>
    <ol>
        <li>Any live cell with fewer than two live neighbours dies, as if by underpopulation.</li>
        <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
        <li>Any live cell with more than three live neighbours dies, as if by overpopulation.</li>
        <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
    </ol>
    <p>
        These rules, which compare the behavior of the automaton to real life, can be 
        condensed into the following:
    </p>
    <ol>
        <li>Any live cell with two or three live neighbours survives.</li>
        <li>Any dead cell with three live neighbours becomes a live cell.</li>
        <li>All other live cells die in the next generation. Similarly, all other dead cells stay dead.</li>
    </ol>
    <p>
        If you require further explanation with an example, please consider watching this video:
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ouipbDkwHWA"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    </br>
    {% if user.is_authenticated %}
        <p>
            If you found the game interesting, then follow the 
            <a id="create_initial_state" href="{% url 'game_of_life:create_initial_state' user.username %}">Create an initial state</a> 
                link to try the game out for yourself.
        </p>

    {% else %} 
        <p>
            If you found the game interesting, please log in on the <a id="login" href="{% url 'game_of_life:login' %}">Login</a> page,
            then follow the Create an Initial state link to try the game out for yourself.
        </p>
    {% endif %}
    
    <script>document.getElementById("game_logic").className = "active";</script>
    </div>
{% endblock %}