{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <script>state_list = []</script>
    <h1>HOME</h1>
    <div class="index">
    <div>
        <H1>Most liked states</H1>
        {% if most_liked_states %}
            {% for state in most_liked_states %}
            <div class="state_wrap">
                <a id="{{state.name}}" href="{% url 'game_of_life:initial_state' user.username state.slug %}"><canvas class="state"></canvas></a>
                <a class="state_description" href="{% url 'game_of_life:initial_state' user.username state.slug %}">
                    State name: {{state.name}},<br/>
                    Author:  {{state.author.username}},<br />
                    Views: {{state.views}}<br />
                    Likes: {{state.likes}}, <br />
                    Date created: {{state.date_created}},
                </a>
                <script>state_list.push([JSON.parse('{{state.col_count}}'),JSON.parse('{{state.state}}')])</script>
                </div>
                {% endfor %}
        {% else %}
            There is no specified list of most liked states.
        {% endif %}
    </div>
    
    <div>
        <H1>Most recent states</H1>
        {% if most_recent_states %}
            {% for state in most_recent_states %}
            <div class="state_wrap">
                <a id="{{state.name}}" href="{% url 'game_of_life:initial_state' state.author state.slug %}"><canvas class="state"></canvas></a>
                <a class="state_description" href="{% url 'game_of_life:initial_state' user.username state.slug %}">
                    State name: {{state.name}},<br/>
                    Author:  {{state.author.username}},<br />
                    Views: {{state.views}}<br />
                    Likes: {{state.likes}}, <br />
                    Date created: {{state.date_created}},
                </a>
                <script>state_list.push([JSON.parse('{{state.col_count}}'),JSON.parse('{{state.state}}')])</script>
            </div>
                {% endfor %}
        {% else %}
            There is no specified list of most recent states.
        {% endif %}
    </div>

    <script src="{% static 'js/initial_state_thumbnails.js' %}"></script>
    <script>document.getElementById("index").className = "active";</script>
</div>
{% endblock %}