{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <H1>Most liked states</H1>
    <div id="most_liked_states">
        {% if most_liked_states %}
            {% for state in most_liked_states %}
                <canvas id="{{state.name}}" class="recent_state"></canvas>
            {% endfor %}
        {% else %}
            There is no specified list of most liked states.
        {% endif %}
    </div>
    <H1>Most recent states</H1>
    <div id="most_recent_states">
        {% if most_recent_states %}
            {% for state in most_recent_states %}°
                {{state.name}}
                <canvas id="{{state.name}}" class="recent_state"></canvas>
            {% endfor %}
        {% else %}
            There is no specified list of most recent states.
        {% endif %}
    </div>

    <div>
        <H1>Most liked states</H1>
        <div id="most_liked_states">
            <a href="{% url 'game_of_life:index' %}"><canvas class="liked_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="liked_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="liked_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="liked_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="liked_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="liked_state"></canvas></a>
        </div>
        <H1>Most viewed states</H1>
        <div id="most_recent_states">
            <a href="{% url 'game_of_life:index' %}"><canvas class="recent_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="recent_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="recent_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="recent_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="recent_state"></canvas></a>
            <a href="{% url 'game_of_life:index' %}"><canvas class="recent_state"></canvas></a>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script>document.getElementById("index").className = "active";</script>
{% endblock %}