{% extends 'game_of_life/base.html' %}
{% load staticfiles %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/initial_state.css' %}">
<link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block title_block %}
    Initial State
{% endblock %}

{% block body_block %}
<div class="initial_state">

    <!-- TITLE -->
    <h1>{{state.name}} by <a href="{% url 'game_of_life:profile' state.author.username %}">{{state.author.username}}</a></h1>

    <!-- PLAYER -->
    <input type="button" value="Return to initial state" id="return" class="button">
    <input type="button" value="Play" id="playback" class="button">
    <label>FPS:</label><input type="range" min="1" max="50" value="20" class="slider" id="fps">

    <canvas id="state">state.state</canvas><br />

    <!-- LIKE AND SAVE -->
    {% if user %}
        {%  if user.username != state.author.username %}
            {% if not user_already_liked %}
                <form action="{% url 'game_of_life:like_state' user.username state_name_slug %}" onclick="this.disabled=true">
                    <input type="submit" value="Like" class="button" />
                </form>
            {% else %}
                <input type="button" value="Liked" class="button" />
            {% endif %}

            {% if not user_already_saved %}
                <form action="{% url 'game_of_life:save_state' user.username state_name_slug %}" onclick="this.disabled=true">
                    <input type="submit" value="Save" class="button" />
                </form>
            {% else %}
                <input type="button" value="Saved" class="button" />
            {% endif %}

        {% endif %}

    {% endif %}
    State name: {{state.name}}, Author:  {{state.author.username}}, Date created: {{state.date_created}}, Likes: {{state.likes}}, Views: {{state.views}}<br />



    <script type="text/javascript">
        initial_state = JSON.parse('{{state.state}}');
    </script>
    <script src="{% static 'js/view_initial_state.js' %}"></script><br />
    <script>document.getElementById("profile").className = "active";</script>
</div>
{% endblock %}