{% extends 'game_of_life/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="style.css">
{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <input type="button" value="Return to initial state" id="return">
    <input type="button" value="Play" id="play">
    <input type="button" value="Pause" id="pause">

    <h1 style="color:rgb(255, 255, 255);">{{state.name}} by {{state.author.username}}</h1>
    <canvas id="state"></canvas>

    <script src="{% static 'js/view_initial_state.js' %}"></script><br />

    State name: {{state.name}}, Author:  {{state.author.username}}, Date created: {{state.date_created}}<br />
    Column count: {{state.col_count}}, row count is half that<br />
    <!-- Slug: {{state.slug}}<br /> -->


    <script>document.getElementById("profile").className = "active";</script>
{% endblock %}