{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/interesting_patterns.css' %}">
{% endblock %}

{% block title_block %}
    Interesting Patterns
{% endblock %}

{% block body_block %}
    <div>
    <H1>Interesting patterns</H1>
    {% if patterns %}
        <script>patterns = []</script>
        {% for pattern in patterns %}
            <div>
                <a id="{{pattern.name}}" href="{% url 'game_of_life:pattern' pattern.slug %}"><canvas class="pattern"></canvas></a>

                <script>patterns.push([JSON.parse('{{pattern.col_count}}'),JSON.parse('{{pattern.state}}')])</script>
            </div>
        {% endfor %}
    {% else %}
        There is no specified list of interesting patterns.
    {% endif %}
    </div>

    <script>document.getElementById("interesting_patterns").className = "active";</script>
    {% endblock %}