{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/interesting_patterns.css' %}">
{% endblock %}

{% block title_block %}
    Interesting Patterns
{% endblock %}

{% block body_block %}
<div class="all_initial_states">
    <H1>Interesting patterns</H1>
    {% if patterns %}
    <div class="state_grid">
        <!-- state_list is a set varibale needed for thumbnail script -->
        <script>state_list = []</script> 
        {% for pattern in patterns %}
        <div class="state_wrap">
            <a id="{{pattern.name}}" href="{% url 'game_of_life:pattern' pattern.slug %}"><canvas class="state"></canvas></a>
            <a class="state_description" href="{% url 'game_of_life:pattern' pattern.slug %}">
                State name: {{state.name}},<br/>
            </a>
            <script>state_list.push(JSON.parse('{{pattern.state}}'))</script>
        </div>
            {% endfor %}
    {% else %}
        There is no specified list of states.
    {% endif %}
    <script src="{% static 'js/initial_state_thumbnails.js' %}"></script>
    <script>document.getElementById("interesting_patterns").className = "active";</script>
    </div>
    {% endblock %}