{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div class="login">

        <h1>Login</h1>
        <form id="login_form" method="post" action="{% url 'game_of_life:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" /><br />
            Password: <input type="password" name="password" value="" size="50" /><br />
            <input type="submit" value="submit" />
        </form>
    </div>
<script>document.getElementById("login").className = "active";</script>
{% endblock %}
