{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login error
{% endblock %}

{% block body_block %}
    <h1>Login error has occured</h1>
    <div id="login_error">
    <p>
        Please make sure that you have already registered on the <a id="register" href="{% url 'game_of_life:register' %}">Sign Up</a> 
        page, and you entered the correct username and passcode, then try <a id="login" href="{% url 'game_of_life:login' %}">Logging in</a>
        again.
    </p>
    </div>
{% endblock %}