{% extends 'game_of_life/base.html' %}
{% load staticfiles %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/initial_state.css' %}">
<link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block title_block %}
    Pattern
{% endblock %}

{% block body_block %}
<h1>Pattern: {{pattern.name}}</h1>
<div class="initial_state">
    <input type="button" value="Return to initial state" id="return" class="button">
    <input type="button" value="Play" id="playback" class="button">

    <canvas id="state"></canvas><br />

    <script type="text/javascript">
        initial_state = JSON.parse('{{pattern.state}}');
        col_count = JSON.parse('{{pattern.col_count}}');
        row_count = col_count / 2;    
    </script>
    <script src="{% static 'js/view_initial_state.js' %}"></script><br />
    <script>document.getElementById("profile").className = "active";</script>
</div>
{% endblock %}