{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
    <div>
        <div>

        <h2 class="profile_heading">Author: {{user.username}}</h2>
        <h2 class="profile_heading">Viewer: {{request.user.username}}</h2>
        {% if user.profile_picture %}
            <img width=20% class="profile_picture" src="{{MEDIA_URL}}profile_images/{{user.profile_picture}}"> 
        {% else %}
            <img width=20% class="profile_picture" src="{{MEDIA_URL}}profile_images/default.jpg">
        {% endif %}
        <p class="profile_email">{{user.email}}</p> 
    </div>

    <div id="states">
        <H1>User states</H1>
        {% if states %}
            <script>state_list = []</script>
            {% for state in states %}
            <div class="state_wrap">
                <a id="{{state.name}}" href="{% url 'game_of_life:initial_state' user.username state.slug %}"><canvas class="state"></canvas></a>
                <a class="state_description" href="{% url 'game_of_life:initial_state' user.username state.slug %}">
                    State name: {{state.name}},<br/>
                    Author:  {{state.author.username}},<br />
                    Views: {{state.views}},
                    Likes: {{state.likes}}, <br />
                    Date created: {{state.date_created}},
                </a>
                <script>state_list.push([JSON.parse('{{state.col_count}}'),JSON.parse('{{state.state}}')])</script>
            </div>
                {% endfor %}
        {% else %}
            User has not made any states
        {% endif %}
    </div>

    <script src="{% static 'js/initial_state_thumbnails.js' %}"></script>
    <script>document.getElementById("profile").className = "active";</script>
{% endblock %}