{% extends 'game_of_life/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
    <div>
        <div>

        <h2 class="profile_heading">Author: {{user.username}}</h2>
        <h2 class="profile_heading">Viewer: {{request.user.username}}</h2>
        {% if user.profile_picture %}
            <img class="profile_picture" src="{{MEDIA_URL}}profile_images/{{user.profile_picture}}"> <!-- Note: Models need to be modified for this to work--> 
        {% else %}
            <img class="profile_picture" src="{{MEDIA_URL}}profile_images/default.jpg">
        {% endif %}
        <!-- Could switch "class UserProfile(models.Model):"" to "class User(User):""--> 
        <!-- Would make thing simpler, might be a terrible practice in django or python in general -->
        <p class="profile_email">{{user.email}}</p> 
    </div>

    <div id="states">
        <H1>User states</H1>
        {% if user.states %}
            {% for state in user.states %}
                <a id="{{state.name}}" href="{% url 'game_of_life:initial_state' state.slug %}"><canvas class="state"></canvas></a>
            {% endfor %}
        {% else %}
            There is no specified list of most user states.
        {% endif %}
    </div>

    <div>
        <H1>User states</H1>
        <div id="states">
            <a id="1" href="{% url 'game_of_life:initial_state' '{{user.username}}' 'hello' %}"><canvas class="state"></canvas></a>
            <a id="2" href="{% url 'game_of_life:initial_state' '{{user.username}}' 'hello' %}"><canvas class="state"></canvas></a>
            <a id="3" href="{% url 'game_of_life:initial_state' '{{user.username}}' 'hello' %}"><canvas class="state"></canvas></a>
            <a id="4" href="{% url 'game_of_life:initial_state' '{{user.username}}' 'hello' %}"><canvas class="state"></canvas></a>
            <a id="5" href="{% url 'game_of_life:initial_state' '{{user.username}}' 'hello' %}"><canvas class="state"></canvas></a>
            <a id="6" href="{% url 'game_of_life:initial_state' '{{user.username}}' 'hello' %}"><canvas class="state"></canvas></a> 
        </div>
    </div>
    <script src="{% static 'js/user_initial_states.js' %}"></script>
    <script>document.getElementById("profile").className = "active";</script>
{% endblock %}