body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:  rgb(92, 91, 91);
  color: white;
  padding-top:3%;
}

.break {clear:both;}

a {color: white;}

/* Buttons*/

.button:hover {
  background-color: #04AA6D;
}
.button {
  background-color: #333;
  border: 4px;
  color: white;
  padding: 0px 10px;
  align-items:center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  height: 30px;
}
.button:active {
  transform: translateY(3px);
}
.button_save:hover {
  background-color: #04AA6D;
}

/* Topnav */
.topnav {
  overflow: hidden;
  background-color: #333;
  top:0;
  position: fixed;
  width:100%;
  z-index:1;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}

.topnav_right{
  float:right;
}
.topnav a.icon{
  font-size:15px;
}

@media screen and (max-width: 995px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    top:0;
  }
  .topnav_right{
    float:left;
  }
}

@media screen and (max-width: 995px) {
  .topnav.responsive {position: fixed; margin-top:8%;}
  .topnav.responsive .icon {
    right:0;
    top:0;
    position:fixed;
    width:100%;
    text-align: right;
  }

  .topnav.responsive a {
    clear:both;
    display: block;
    text-align: left;
    top:0;
    border-top:0;
    width: 100%;
  }
  .topnav.responsive div{
    clear:both;
    display: block;
    text-align: left;
    top:0;
    border-top:0;
    width: 100%;
  }
}
/* states */
.state_grid{
  display: grid;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 1350px){
  .state_grid{
    grid-template-columns: auto auto;
    margin:10px;
  }
}
@media only screen and (max-width: 981px) {
  h1 { padding-top:5%}
  .state_grid {
    grid-template-columns: auto;
    margin:10px;
  }
}
.state{
  width: 100%;
}
.state_wrap{
  position: relative;
  width: 400px;
  height: 200px;
  margin: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.state_description{
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
align-self: center;
background-color: black;
color: white;
visibility:hidden;
opacity:0;
text-decoration: none;
}

.state_wrap:hover .state_description{
visibility: visible;
opacity:75%;
}




