/* Nav bar */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


/* index page */
.most_liked_states, .most_recent_states {
  border: 10px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.liked_state {
  display: inline-block;
  border: 0px solid rgb(255, 0, 0);
  padding: 1rem 1rem;
  vertical-align: middle;
}
.recent_state {
  display: inline-block;
  border: 0px solid rgb(0, 0, 255);
  padding: 1rem 1rem;
  vertical-align: middle;
}

/* game_logic page */
#game_logic {
  text-align: center;
}
#game_logic a:link { color: #70DB93; }
#game_logic a:visited { color: #32e4e4; }
#game_logic a:hover { color: #ee2805; }
#game_logic a:active { color: #9070db; }

/* about page*/
#about {
  text-align: center;
}
#about a:link { color: #70DB93; }
#about a:visited { color: #32e4e4; }
#about a:hover { color: #ee2805; }
#about a:active { color: #9070db; }

/* login_error page */
#login_error {
  text-align: left;
}
#login_error a:link { color: #70DB93; }
#login_error a:visited { color: #32e4e4; }
#login_error a:hover { color: #ee2805; }
#login_error a:active { color: #9070db; }

/* registered page */
#register {
  text-align: left;
}
#register a:link { color: #70DB93; }
#register a:visited { color: #32e4e4; }
#register a:hover { color: #ee2805; }
#register a:active { color: #9070db; }

/* create_initial_state page*/
body {
  background: rgb(34, 34, 34);
}

/* (<user>/initial_states)*/
.state {
    display: inline-block;
    border: 0px solid rgb(0, 0, 255);
    padding: 1rem 1rem;
    vertical-align: middle;
  }
canvas:hover {
    background-color: rgb(153, 153, 153);
    color: black;
}


/* NOTE: Make buttons prettier*/

/* button:hover {
  background-color: green;
} */

/* button {
  background: none;
  border: 4px solid #fff;
  border-radius: 10px;
  color: rgb(37, 68, 46);
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 10px auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
} */



/* NOTE: don't color every link in all pages, we definitely don't want to do it in the nav bar for example */

/* unvisited link */
/* a:link {
  color: red;
} */

/* visited link */
/* a:visited {
  color: green;
} */

/* mouse over link */
/* a:hover {               
  color: hotpink;
} */

/* selected link */
/* a:active {
  color: blue;
} */
