body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:  rgb(92, 91, 91);
  color: white;
  padding-top:3%;

}

/*Nav bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  position:fixed;
  top:0px;
  width:100%;
  height:5%;
  z-index: 1;
  padding-bottom:1%;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* hovering over states */
.state_grid{
  display: grid;
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 981px) {
  .state_grid {
    grid-template-columns: auto}
}

.state_wrap{
  position: relative;
  width: 400px;
  margin:5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.state_description{
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
padding:5px;
align-self: center;
background-color: #504d4d;
color:rgb(199, 199, 199);
visibility:hidden;
opacity:0;
text-decoration: none;
}

.state_wrap:hover .state_description{
visibility: visible;
opacity:75%;
}
