/* game_logic page */
.game_logic {
    margin: auto;
    padding: 5%;
    padding-top: 0;
    
  }
  .picture_div{
    float: left;
    width: 400px;
    margin: 5px;
    margin-right: 25px;
  }
  .picture{
    width: 400px;
  }
  .game_logic a:link { color: #70DB93; }
  .game_logic a:visited { color: #32e4e4; }
  .game_logic a:hover { color: #ee2805; }
  .game_logic a:active { color: #9070db; }
  