/* index page */
.most_liked_states, .most_recent_states {
    border: 10px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .index{
    margin: auto;
    padding: 5%;
    padding-top: 0;
  }