/* (<user>/initial_states)*/
.initial_state{
    margin: auto;
    padding: 5%;
    padding-top: 0;
  }
  .state {
      display: inline-block;
      border: 0px solid rgb(0, 0, 255);
      padding: 1rem 1rem;
      vertical-align: middle;
    }
  canvas:hover {
      background-color: rgb(153, 153, 153);
      color: black;
  }
  