/* login_error page */
.login_error {
    margin: auto;
    padding: 5%;
    padding-top: 0;
  }
  .login_error a:link { color: #70DB93; }
  .login_error a:visited { color: #32e4e4; }
  .login_error a:hover { color: #ee2805; }
  .login_error a:active { color: #9070db; }